:root {
  --accent: #c90000;
  --background: #cccccc;
  --background-light: white;
}

body {
  background-color: var(--background);
  margin: 5em 2em 3em 3em;

  font-family: "Indie Flower", sans-serif;
  font-size: 2em;

  /* background-image: url("present.svg"); */
  background-position: right 10% bottom 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 35%;
}

h1 {
  margin-block-start: 3%;
  margin-block-end: 3%;
  font-family: "Euphoria Script", serif;
  font-size: 5em;
  color: var(--accent);
}

p {
  margin-block-start: 3%;
  margin-block-end: 3%;
}

ul {
  margin-block-start: 3%;
  margin-block-end: 3%;
}

button {
  border-radius: 0.1em;
  border: 2px solid var(--background-light);
  background-color: var(--accent);

  padding: 0.5em 1em 0.4em 1em;

  font-family: "Euphoria Script", serif;
  font-size: 1.5em;
  color: var(--background-light);
}

button:hover {
  border-color: var(--accent);
  background-color: var(--background-light);
  color: var(--accent);
}

.contents {
  display: none;
}
